.header-box{
    background: rgba(0,0,0,1);
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 30px;
    position: absolute;
    width: 100vw;
    height: 100px;
    text-align: center;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);

}
.header-title{
    margin: 10px;
}